# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
*.jar
*.war
*.ear

# IDE
.settings/
.classpath
.project
*.iml
.idea/
*.ipr
*.iws
nbproject/
*.form
*.nbattrs
build/

# OS
.DS_Store
Thumbs.db
*.swp
*~

# Logs
*.log
